## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = classification_counts[classification_counts>1]
countsclassification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", "CLASSIFICATION", "USE_CASE", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"])
# Display the first few rows of the dataframe
application_df.head()

,AFFILIATION,ORGANIZATION,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,Independent,Association,1,5000,1,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,Independent,Co-operative,1,108590,1,False,False,False,True,False,...,True,False,False,False,False,False,False,False,True,False
2,CompanySponsored,Association,1,5000,0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,CompanySponsored,Trust,1,6692,1,False,False,False,True,False,...,False,True,False,False,False,False,False,False,True,False
4,Independent,Trust,1,142590,1,False,False,False,True,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

# Split the preprocessed data into a training and testing dataset
X = application_df.drop(columns=['IS_SUCCESSFUL']).values
X
# Use `train_test_split` to split data into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
# Ensure X_train and X_test are DataFrames
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

# Encode categorical variables
X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(X_test)

# Align columns
X_test_encoded = X_test_encoded.reindex(columns=X_train_encoded.columns, fill_value=0)

# Scale
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_test_scaled = scaler.transform(X_test_encoded)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 7)              │        46,501 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 14)             │           112 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            15 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 46,628 (182.14 KB)

 Trainable params: 46,628 (182.14 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.6429 - loss: 0.6756 - val_accuracy: 0.7017 - val_loss: 0.5916
Epoch 2/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7530 - loss: 0.5273 - val_accuracy: 0.6748 - val_loss: 0.7589
Epoch 3/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7966 - loss: 0.4354 - val_accuracy: 0.6763 - val_loss: 1.0307
Epoch 4/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8016 - loss: 0.4109 - val_accuracy: 0.6717 - val_loss: 1.1089
Epoch 5/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8054 - loss: 0.4038 - val_accuracy: 0.6737 - val_loss: 1.2056
Epoch 6/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8111 - loss: 0.3998 - val_accuracy: 0.6748 - val_loss: 1.2917
Epoch 7/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8080 - loss: 0.3999 - val_accuracy: 0.6753 - val_loss: 1.3020
Epoch 8/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8079 - loss: 0.3994 - val_accuracy: 0.6769 - val_loss: 1.1249
Epoch 9/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8086 - loss: 0.3996 - val_accuracy: 0.6795 - val_loss: 1.1044
Epoch 10/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8060 - loss: 0.4012 - val_accuracy: 0.6859 - val_loss: 0.9837
Epoch 11/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8126 - loss: 0.3928 - val_accuracy: 0.6937 - val_loss: 0.8878
Epoch 12/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8143 - loss: 0.3958 - val_accuracy: 0.6994 - val_loss: 0.8420
Epoch 13/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8093 - loss: 0.3957 - val_accuracy: 0.7038 - val_loss: 0.7961
Epoch 14/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8121 - loss: 0.3938 - val_accuracy: 0.7038 - val_loss: 0.7339
Epoch 15/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8061 - loss: 0.4038 - val_accuracy: 0.7064 - val_loss: 0.7837
Epoch 16/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8109 - loss: 0.3977 - val_accuracy: 0.7121 - val_loss: 0.7544
Epoch 17/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8112 - loss: 0.3936 - val_accuracy: 0.7139 - val_loss: 0.7413
Epoch 18/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8111 - loss: 0.3965 - val_accuracy: 0.7129 - val_loss: 0.7756
Epoch 19/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8045 - loss: 0.4021 - val_accuracy: 0.7142 - val_loss: 0.8637
Epoch 20/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8055 - loss: 0.4026 - val_accuracy: 0.7105 - val_loss: 0.7987
Epoch 21/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8063 - loss: 0.3975 - val_accuracy: 0.7150 - val_loss: 0.8836
Epoch 22/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8101 - loss: 0.3934 - val_accuracy: 0.7155 - val_loss: 0.9465
Epoch 23/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8089 - loss: 0.3947 - val_accuracy: 0.7134 - val_loss: 0.9693
Epoch 24/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8122 - loss: 0.3914 - val_accuracy: 0.7139 - val_loss: 0.9341
Epoch 25/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8134 - loss: 0.3974 - val_accuracy: 0.7155 - val_loss: 0.9588
Epoch 26/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8148 - loss: 0.3894 - val_accuracy: 0.7129 - val_loss: 1.0746
Epoch 27/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8157 - loss: 0.3905 - val_accuracy: 0.7118 - val_loss: 0.9988
Epoch 28/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8086 - loss: 0.3985 - val_accuracy: 0.7150 - val_loss: 1.0517
Epoch 29/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8130 - loss: 0.3958 - val_accuracy: 0.7134 - val_loss: 1.0914
Epoch 30/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8105 - loss: 0.3990 - val_accuracy: 0.7113 - val_loss: 1.1465
Epoch 31/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8104 - loss: 0.3974 - val_accuracy: 0.7134 - val_loss: 1.1252
Epoch 32/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8119 - loss: 0.3953 - val_accuracy: 0.7139 - val_loss: 1.1539
Epoch 33/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8071 - loss: 0.3968 - val_accuracy: 0.7121 - val_loss: 1.2114
Epoch 34/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8013 - loss: 0.4013 - val_accuracy: 0.7118 - val_loss: 1.1960
Epoch 35/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8155 - loss: 0.3899 - val_accuracy: 0.7085 - val_loss: 1.2022
Epoch 36/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8143 - loss: 0.3965 - val_accuracy: 0.7121 - val_loss: 1.1588
Epoch 37/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8115 - loss: 0.3953 - val_accuracy: 0.7129 - val_loss: 1.1684
Epoch 38/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8110 - loss: 0.3955 - val_accuracy: 0.7126 - val_loss: 1.2871
Epoch 39/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8091 - loss: 0.3954 - val_accuracy: 0.7090 - val_loss: 1.3721
Epoch 40/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8105 - loss: 0.3955 - val_accuracy: 0.7090 - val_loss: 1.4370
Epoch 41/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8111 - loss: 0.3937 - val_accuracy: 0.7090 - val_loss: 1.4475
Epoch 42/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8093 - loss: 0.3957 - val_accuracy: 0.7064 - val_loss: 1.7509
Epoch 43/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8139 - loss: 0.3892 - val_accuracy: 0.7077 - val_loss: 1.7536
Epoch 44/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8138 - loss: 0.3929 - val_accuracy: 0.7054 - val_loss: 2.0589
Epoch 45/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8099 - loss: 0.3912 - val_accuracy: 0.7015 - val_loss: 2.2599
Epoch 46/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8162 - loss: 0.3878 - val_accuracy: 0.7074 - val_loss: 1.8530
Epoch 47/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8115 - loss: 0.3925 - val_accuracy: 0.7069 - val_loss: 2.0593
Epoch 48/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8142 - loss: 0.3908 - val_accuracy: 0.7072 - val_loss: 2.0221
Epoch 49/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8145 - loss: 0.3880 - val_accuracy: 0.7028 - val_loss: 2.1290
Epoch 50/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8147 - loss: 0.3891 - val_accuracy: 0.7056 - val_loss: 2.3884
Epoch 51/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8140 - loss: 0.3897 - val_accuracy: 0.7036 - val_loss: 2.5789
Epoch 52/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8158 - loss: 0.3867 - val_accuracy: 0.7046 - val_loss: 2.4667
Epoch 53/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8126 - loss: 0.3926 - val_accuracy: 0.7038 - val_loss: 2.4970
Epoch 54/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8115 - loss: 0.3945 - val_accuracy: 0.7028 - val_loss: 2.5665
Epoch 55/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8139 - loss: 0.3909 - val_accuracy: 0.6984 - val_loss: 2.3134
Epoch 56/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8128 - loss: 0.3913 - val_accuracy: 0.7051 - val_loss: 2.3776
Epoch 57/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8144 - loss: 0.3921 - val_accuracy: 0.7043 - val_loss: 2.4655
Epoch 58/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8162 - loss: 0.3897 - val_accuracy: 0.7048 - val_loss: 2.5119
Epoch 59/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8131 - loss: 0.3918 - val_accuracy: 0.7025 - val_loss: 2.7702
Epoch 60/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8101 - loss: 0.3927 - val_accuracy: 0.7046 - val_loss: 2.4931
Epoch 61/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8108 - loss: 0.3929 - val_accuracy: 0.7041 - val_loss: 2.4617
Epoch 62/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8178 - loss: 0.3888 - val_accuracy: 0.7002 - val_loss: 2.5704
Epoch 63/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8111 - loss: 0.3915 - val_accuracy: 0.7028 - val_loss: 2.8700
Epoch 64/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8170 - loss: 0.3900 - val_accuracy: 0.7023 - val_loss: 2.7347
Epoch 65/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8110 - loss: 0.3935 - val_accuracy: 0.7025 - val_loss: 2.7758
Epoch 66/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8155 - loss: 0.3873 - val_accuracy: 0.7030 - val_loss: 2.6166
Epoch 67/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8096 - loss: 0.3956 - val_accuracy: 0.7030 - val_loss: 2.8939
Epoch 68/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8094 - loss: 0.3953 - val_accuracy: 0.7028 - val_loss: 2.6606
Epoch 69/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8109 - loss: 0.3935 - val_accuracy: 0.7025 - val_loss: 2.7433
Epoch 70/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8145 - loss: 0.3905 - val_accuracy: 0.7030 - val_loss: 2.8850
Epoch 71/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8072 - loss: 0.3995 - val_accuracy: 0.7020 - val_loss: 3.0869
Epoch 72/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8141 - loss: 0.3890 - val_accuracy: 0.7036 - val_loss: 2.8992
Epoch 73/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8121 - loss: 0.3875 - val_accuracy: 0.7010 - val_loss: 3.0367
Epoch 74/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8147 - loss: 0.3896 - val_accuracy: 0.7012 - val_loss: 2.8844
Epoch 75/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8116 - loss: 0.3928 - val_accuracy: 0.7025 - val_loss: 2.8489
Epoch 76/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8084 - loss: 0.3946 - val_accuracy: 0.7015 - val_loss: 2.9298
Epoch 77/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8106 - loss: 0.3922 - val_accuracy: 0.6976 - val_loss: 3.1220
Epoch 78/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8169 - loss: 0.3864 - val_accuracy: 0.6981 - val_loss: 2.8905
Epoch 79/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8126 - loss: 0.3923 - val_accuracy: 0.7020 - val_loss: 2.9025
Epoch 80/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8105 - loss: 0.3928 - val_accuracy: 0.7033 - val_loss: 2.8238
Epoch 81/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8128 - loss: 0.3908 - val_accuracy: 0.7023 - val_loss: 2.9506
Epoch 82/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8172 - loss: 0.3859 - val_accuracy: 0.7020 - val_loss: 3.0301
Epoch 83/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8143 - loss: 0.3898 - val_accuracy: 0.7004 - val_loss: 3.2192
Epoch 84/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8137 - loss: 0.3910 - val_accuracy: 0.7017 - val_loss: 3.0644
Epoch 85/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8179 - loss: 0.3820 - val_accuracy: 0.6981 - val_loss: 2.9378
Epoch 86/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8105 - loss: 0.3970 - val_accuracy: 0.6997 - val_loss: 3.2559
Epoch 87/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8111 - loss: 0.3912 - val_accuracy: 0.7002 - val_loss: 3.2018
Epoch 88/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8087 - loss: 0.3952 - val_accuracy: 0.6997 - val_loss: 3.2332
Epoch 89/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8093 - loss: 0.3956 - val_accuracy: 0.7002 - val_loss: 3.4050
Epoch 90/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8183 - loss: 0.3845 - val_accuracy: 0.7015 - val_loss: 3.4130
Epoch 91/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8148 - loss: 0.3905 - val_accuracy: 0.6999 - val_loss: 3.3120
Epoch 92/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8149 - loss: 0.3891 - val_accuracy: 0.7007 - val_loss: 3.5101
Epoch 93/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8136 - loss: 0.3869 - val_accuracy: 0.7012 - val_loss: 3.4195
Epoch 94/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8153 - loss: 0.3909 - val_accuracy: 0.7002 - val_loss: 3.5907
Epoch 95/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8168 - loss: 0.3870 - val_accuracy: 0.7010 - val_loss: 2.9760
Epoch 96/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8143 - loss: 0.3886 - val_accuracy: 0.7017 - val_loss: 3.0159
Epoch 97/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8159 - loss: 0.3883 - val_accuracy: 0.7015 - val_loss: 2.9689
Epoch 98/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8166 - loss: 0.3860 - val_accuracy: 0.7004 - val_loss: 3.0744
Epoch 99/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8156 - loss: 0.3890 - val_accuracy: 0.7010 - val_loss: 3.2868
Epoch 100/100
684/684 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8159 - loss: 0.3891 - val_accuracy: 0.7010 - val_loss: 3.1887

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 5ms/step - accuracy: 0.4511 - loss: 0.7012
Loss: 0.7011814117431641, Accuracy: 0.45107871294021606

In [16]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.